.bold-large {
    font-size: 1.6em;
    font-weight: bold;
}

.bullet-level1 {
    font-size: 1.6em;
    font-weight: bold;
    color: steelblue;
}

.bullet-level2 {
    font-size: 1.2em;
    font-weight: bold;
    color: steelblue;
}

.green-large {
    font-size: 1.6em;
    font-weight: bold;
    color: rgb(77, 175, 74);
}

.red-large {
    font-size: 1.6em;
    font-weight: bold;
    color: rgb(228, 26, 28);
}

.verylarge {
    font-size: 3.6em;
    font-weight: bold;
}


.inline-code {
    color: rgb(199, 37, 78);
    background-color: rgb(236, 236, 236);
    padding: 2px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 5px;
    font-family: "Lucida Console", Monaco, monospace;
}

.pythonchunk {
    background-color: #faf2dc !important;
}
.rchunk {
    background-color: #f5f5f5 !important;
}

.bashchunk {
    background-color: #e3eefa !important;
}

.hvcentered {
    text-align: center;
    vertical-align: middle;
}

.larger {
    font-size: 1.2em;
}

.bold {
    font-weight: bold;
}

.footer {
    color: black; background: #E8E8E8;
    position: fixed; top: 90%;
    text-align:center; width:100%;
}
