<!doctype html>
<html>
<head>
  <title>Advanced Single-cell Omics</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">

  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <link rel="stylesheet" href="/single-cell_sib_scilifelab_2021/styles.css">

  <meta name="viewport" content="width=device-width">
</head>
<body>

  <div class="wrapper">

    <div class="myheader1" id="topmenu" >
      <header class="myheader2" >
        <a href="/single-cell_sib_scilifelab_2021/README.html">
          <button class="menuButton myHighlight" style="text-align: center" >
            <img border="0" src="/single-cell_sib_scilifelab_2021/logos/logo_nbis.png" width="100px">
            <img border="0" src="/single-cell_sib_scilifelab_2021/logos/logo_sib.png" width="100px">
            <!-- <h1 style="text-align:center; margin: 0px; border: 0px">Main</h1> -->
          </button>
        </a>

        <a href="/single-cell_sib_scilifelab_2021/schedule.html">
          <button class="menuButton myHighlight" >
            Schedule&nbsp;&nbsp;
            <img border="0" src="https://www.svgrepo.com/show/158264/schedule.svg" width="30" height="30" style="vertical-align:middle;">
          </button>
        </a>
        <a href="/single-cell_sib_scilifelab_2021/precourse.html">
          <button class="menuButton myHighlight" >
            Pre-course&nbsp;&nbsp;
            <img border="0" src="https://www.svgrepo.com/show/19652/maths-class-materials-cross-of-a-pencil-and-a-ruler.svg" width="30" height="30" style="vertical-align:middle;">
          </button>
        </a>
        <hr>
        <a href="/single-cell_sib_scilifelab_2021/projects.html">
          <button class="menuButton myHighlight" >
            Projects&nbsp;&nbsp;
            <img border="0" src="https://www.svgrepo.com/show/1025/task.svg" width="30" height="30" style="vertical-align:middle;">
          </button>
        </a>
        <a href="/single-cell_sib_scilifelab_2021/project_spatial/README.html">
          <button class="menuButton myHighlight" >
            Spatial&nbsp;&nbsp;
            <img border="0" src="/single-cell_sib_scilifelab_2021/logos/spatial_transcriptomics.png" width="30" height="30" style="vertical-align:middle;">
          </button>
        </a>
        <a href="/single-cell_sib_scilifelab_2021/project_velocity/README.html">
          <button class="menuButton myHighlight" >
            RNA Velocity&nbsp;&nbsp;
            <img border="0" src="/single-cell_sib_scilifelab_2021/logos/rna_velocity.png" width="30" height="30" style="vertical-align:middle;">
          </button>
        </a>
        <a href="/single-cell_sib_scilifelab_2021/project_omics/README.html">
          <button class="menuButton myHighlight" >
            Multi-Omics&nbsp;&nbsp;
            <img border="0" src="/single-cell_sib_scilifelab_2021/logos/omics_integration.png" width="30" height="30" style="vertical-align:middle;">
          </button>
        </a>
        <a href="/single-cell_sib_scilifelab_2021/project_dnn/README.html">
          <button class="menuButton myHighlight" >
            Deep Learning&nbsp;&nbsp;
            <img border="0" src="/single-cell_sib_scilifelab_2021/logos/deep_learning.png" width="30" height="30" style="vertical-align:middle;">
          </button>
        </a>
        <hr>
        <a href="/single-cell_sib_scilifelab_2021/faq.html">
          <button class="menuButton myHighlight" >
            FAQ&nbsp;&nbsp;
            <img border="0" src="https://www.svgrepo.com/show/83019/faq-button.svg" width="30" height="30" style="vertical-align:middle;">
          </button>
        </a>
        <a href="{{ site.github.repository_url }}" target="_blank">
          <button class="menuButton myHighlight" style="width:100%; text-align: right">
            GitHub&nbsp;&nbsp;
            <img border="0" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/2048px-Octicons-mark-github.svg.png" width="30" height="30" style="vertical-align:middle;">&nbsp;&nbsp;
          </button>
        </a>
      </header>

    </div>
    <div class="myContent1">
      <!-- <section class="myContent2"> -->
        <div class="myContent2">
          {{ content }}
          <br/>
          <a href="/single-cell_sib_scilifelab_2021/README.html">
            <button class="button zoom myHighlight">⬅︎ &nbsp; Back to main</button>
          </a>
          <br/>
        </div>
      <!-- </section> -->
    </div>

  </div>
  <script src="/single-cell_sib_scilifelab_2021/scripts.js" type="text/javascript"></script>
  <footer>

  </footer>
</div>
<script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
</body>
</html>
